html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(4, 11, 31);
    overflow: hidden;
    font-family: "Avenir";
}

.website-container {
    position: absolute;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    
}

.background-image-container {
    position: absolute;
    width:  100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.background-wallpaper {
    position: relative;
    width: 100%;
    height: 100;
    background-size: cover;
    filter: blur(50px);
}




.top-left-line {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 100px;
    height: 30px;
    background-color: transparent;
    opacity: 1.0;
    border-style: solid;
    border-width: 3px;
    border-left-color: rgb(85, 47, 196);
    border-top-color: rgb(85, 47, 196);
    border-bottom: none;
    border-right: none;
}

.top-right-line {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 100px;
    height: 30px;
    background-color: transparent;
    opacity: 1.0;
    border-style: solid;
    border-width: 3px;
    border-right-color: rgb(85, 47, 196);
    border-top-color: rgb(85, 47, 196);
    border-left: none;
    border-bottom: none;
}

.bottom-left-line {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 100px;
    height: 30px;
    background-color: transparent;
    opacity: 1.0;
    border-style: solid;
    border-width: 3px;
    border-bottom-color: rgb(85, 47, 196);
    border-left-color: rgb(85, 47, 196);
    border-top: none;
    border-right: none;
}

.bottom-right-line {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 30px;
    background-color: transparent;
    opacity: 1.0;
    border-style: solid;
    border-width: 3px;
    border-bottom-color: rgb(85, 47, 196);
    border-right-color: rgb(85, 47, 196);
    border-top: none;
    border-left: none;
}



.top-left {
    position: absolute;
    left: 30px;
    top: 30px;
    padding-left: 10px;
    padding-top: 10px;
}

.top-right {
    position: absolute;
    right: 30px;
    top: 30px;
    padding-right: 10px;
    padding-top: 10px;
}

.bottom-left {
    position: absolute;
    left: 30px;
    bottom: 30px;
    padding-left: 10px;
}

.bottom-right {
    position: absolute;
    right: 30px;
    bottom: 30px;
    padding-right: 10px;
}

.page-holder {
    width: auto;
    height: 30px;
    opacity: 1.0;
    color: white;
}






.page {
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.section-1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}









.button-small {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 10px 10px 5px #000;
    background-color: rgb(71, 33, 194);
}

.button-large {
    width: 100px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 10px 10px 5px #000;
    background-color: rgb(71, 33, 194);
}



.page-position {
    position: absolute;
    right: 0;
    top: 42%;
    color: white;
    width: 50px;
    height: auto;
    background-color: transparent;
}

.page-position-indicator {
    position: relative;
    margin-top: 20px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: white;
}














