@font-face {
    font-family: DIN_Light;
    src: url(../assets/din-light-webfont.ttf);
}

@font-face {
    font-family: DIN_Regular;
    src: url(../assets/din-regular-webfont.ttf);
}

@font-face {
    font-family: DIN_UltraLight;
    src: url(../assets/din-ultra-light-webfont.ttf);
}
@font-face {
    font-family: Avenir;
    src: url(../assets/Avenir.ttc);
}